@font-face {
    font-family: Merriweather;
    src: url(Fonts/Merriweather/static/Merriweather_24pt-Light.ttf)
}
@font-face {
    font-family: Roboto;
    src: url(Fonts/Roboto/Roboto-VariableFont_wdth_wght.ttf);
} 
p {
    font-family: Roboto
}  
h1, h2, h3 {
    font-family: Merriweather
}
h1 {
    font-weight: 300;
    text-align: center 
}

/* Table styling */
table {
  width: auto;
  border-collapse: collapse;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
th, td {
  padding: 12px;
  overflow: auto;
  text-align: left;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
/* Rounded table corners defined individully,
so that it doesn't apply the rounded corners to all of the cells */
th:first-child {
  border-top-left-radius: 10px;
}
th:last-child {
  border-top-right-radius: 10px;
}
tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

th {
  background-color: #5c6bc0;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
}
td {
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd;
}
tr:hover {
  background-color: #f1f1f1;
}
tr:nth-child(even) td {
  background-color: #f3f3f3;
}
